*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';

}
body{
    background-color: #dee0e3;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color: #36455c;
    margin-bottom: 10px;
    position: relative;
}
.navbar{
    width: 100%;
    margin: auto;
    padding:20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #36455c;
}
p{
    width:120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar p{
    color: #fff;
}
.navbar ul li a{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #1e139a;
    position: absolute;
    left: 0;
    bottom: 0;
}
.navbar ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}




.about-us{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}
.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
    transition: 0.5s ease;
    
}

.content{
    padding: 35px;

}
.content h2{
    color: #36455c;
    font-size: 34px;
    margin: 15px 0px;
}
.content p{
    color: #666;
    font-size: 20px;
    line-height: 1;
    margin: 40px 0px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}


.vision{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #666;
}
.vision img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
    transition: 0.5s ease;
    align-items: end;
}

.matter{
    padding: 35px;
}
.matter h3{
    color: #36455c;
    font-size: 34px;
    margin: 15px 0px;
}
.mattert label{
    color: #666;
    font-size: 20px;
    line-height: 1;
    margin: 40px 0px;
    font-family: 'Roboto';
}
#backButton {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    background-color: transparent;
    color: #030303;
    border: 2px solid black;
    border-color: #000000;
    cursor: pointer;
    top: 80px;
    left: 40px;
}
#backButton:hover {
    background-color: #ffffff;
}
