*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}
p{
    width:120px;
    cursor: pointer;
    font-size: large;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar p{
    color: #fff;
}
.navbar ul li a{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: 0;
}
.navbar ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}
.container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.container h1::after{
    content:'';
    background-color: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;

}
.streams{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s;
 }
.streams i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}

.streams h2{
    font-weight: 600;
    margin-bottom: 8px;
}
.streams:hover{
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}
.streams:hover i{
    color: #fff;
}
.streams button{
    background: transparent;
    padding: 0;
    border: none;
}
.streams p{
    width: fit-content;
}
#backButton {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    background-color: transparent;
    color: #030303;
    border: 2px solid black;
    border-color: #000000;
    cursor: pointer;
    top: 80px;
    left: 40px;
}

#backButton:hover {
    background-color: #ffffff;
}

